@{
    ViewBag.Title = "Upload";
}

<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <img src="~/Content/Images/upload.png" class="img-fluid w-75 px-5 py-4" alt="upload" />
    </div>
    <div class="col-md-6">

        <h2 class="display-4 fw-bold mb-5">Upload A File</h2>

        @if (ViewBag.FileUploadSuccess != null)
        {
            <div class="alert alert-success mb-5" role="alert">
                @ViewBag.FileUploadSuccess - File was uploaded successfully.
            </div>
        }
        @if (ViewBag.FileUploadFailed != null)
        {
            <div class="alert alert-danger mb-5" role="alert">
                An Error Occured, Could not upload file.
            </div>
        }

        @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBox("file", "", new { @type = "file", @class = "form-control mb-3" }) <br />
                <input type="submit" id="upload" class="btn btn-primary w-100" value="Upload" />
            </div>
        }
    </div>
</div>
