@{
    ViewBag.Title = "Home";
}

<div class="row justify-content-around align-items-center text-center py-3">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <img src="~/Content/Images/upload.png" class="img-fluid px-5 py-4" alt="upload" />
                @Html.ActionLink("Upload A File", "Index", "Upload", null, new { @class = "btn btn-primary w-100 stretched-link" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <img src="~/Content/Images/search.png" class="img-fluid px-5 py-4" alt="search" />
                @Html.ActionLink("View All Files", "Index", "Files", null, new { @class = "btn btn-primary w-100 stretched-link" })
            </div>
        </div>
    </div>
</div>
